/*.swp
/.installation
/docs
/*.jar
/*.txt
/bin/client/*.jar
/bin/*.exe
/bin/*.bat
/bin/service/*.exe
/bin/service/amd64/*.exe
/bin/service/*.bat
/bin/client/*.txt
/bin/*.log
/domain/data
/domain/tmp
/modules/system
/modules/org
/modules/com/mysql/main/*.jar
/standalone/data
/standalone/lib
/standalone/log
/standalone/tmp
/standalone/deployments
/standalone/configuration/standalone_xml_history
/welcome-content

